.root {
}

.Form#flow {
	-fx-hgap: 1em;
	-fx-vgap: 2em;	
	-fx-padding: 1em;
}

.Form .FormField {
	-fx-min-width: 15em;
}

.Form#topbar {
	-fx-gap: 1em;
	-fx-padding: 0.5em;
}

.Form#topbar > * {
	-fx-alignment: center-right;
}